@font-face {
    font-family: 'Inter Regular';
    src: url('./fonts/Inter-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Inter Semibold';
    src: url('./fonts/Inter-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Inter Light';
    src: url('./fonts/Inter-Light.ttf');
    font-weight: 300;
    font-style: normal;
}

:root {
    --red: #E74460;
    --grey: #7BA0B0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    background: #69D2E7 url("images/header.png") no-repeat top center;
    display: flex;
    font-family: "Inter Regular";
    flex-direction: column;
    min-height: 100vh;
}

header {
    height: 130px;
    padding: 20px 0;
    width: min(1200px, 100vh);
}

.logo {
    color: var(--red);
    font-family: 'Inter Light';
    font-size: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

main {
    display: flex;
    gap: 100px;
    justify-content: space-evenly;
    max-width: 1200px;
    padding: 30px;
}

.gameboard {
    display: grid;
    gap: 4px;
    grid-template-columns: repeat(10, 1fr);
    height: 450px;
    width: 450px;
}

.cell {
    background: #fff;
    border: 2px solid #000;
    border-radius: 20%;
    box-shadow: 1px 0px 0px rgba(0, 0, 0, 1)
}

.has-ship {
    background: var(--grey);
}

.missed {
    background: url("images/missed.png") var(--red) no-repeat center;
}

.hit {
    background: url("images/hit.png") var(--grey) no-repeat center;
}

.computer-board .cell:hover {
    background-color: #ddd;
    cursor: pointer;
}