* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    background: url("images/header.png") no-repeat center;
    height: 130px;
}

main {
    background-color: #69D2E7;
    min-height: calc(100vh - 130px);
}