@font-face {
    font-family: 'Inter Regular';
    src: url('./fonts/Inter-Regular.ttf');
    font-weight: 400;
    font-style: normal;
  }

@font-face {
    font-family: 'Inter Semibold';
    src: url('./fonts/Inter-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
  }

@font-face {
    font-family: 'Inter Light';
    src: url('./fonts/Inter-Light.ttf');
    font-weight: 300;
    font-style: normal;
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    background: #69D2E7 url("images/header.png") no-repeat top center;
    display: flex;
    font-family: "Inter Regular";
    flex-direction: column;
    min-height: 100vh;
}

header {
    height: 130px;
    width: min(1000px, 100vh);
}

main {
    max-width: 1000px;
}
